*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80pt;
    text-align: center;
  }
  .footer img {
    background-color: white;
    padding: 5pt;
    margin-left: 10pt;
    height: 80pt;
  }